@tailwind base;
@tailwind components;
@tailwind utilities;
/* Remove if fonts are not used */
@import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css';

/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.add-cus .mui-hz1bth-MuiDialog-container{
  justify-content: end !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  transition: all 0.3s ease-in-out;
}

h1 {
  font-size: calc((1.8 - 1) * 1.2vw + 1rem) !important;
  line-height: calc(1.4 * (1 + (1 - 4) / 25));
  margin: 0.5rem 0;
}

h2 {
  font-size: calc((1.7 - 1) * 1.2vw + 0.8rem) !important;
  line-height: calc(1.4 * (1 + (1 - 2.5) / 25));
  margin: 0.5rem 0;
}
h3,
.font-size-cont {
  font-size: calc((1.555 - 1) * 1.2vw + 0.8rem) !important;
  line-height: calc(1.4 * (1 + (1 - 2) / 25));
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0.2rem 0;
}
h4 {
  font-size: calc((1.2 - 1) * 1.2vw + 0.8rem) !important;
  line-height: calc(1.4 * (1 + (1 - 2) / 25));
  margin: 0.5rem 0;
}

h5 {
  font-size: calc((1 - 1) * 1.2vw + 0.8rem) !important;
  line-height: calc(1.4 * (1 + (1 - 2) / 25));
  margin: 0.5rem 0;
}

h6 {
  font-size: calc((0.8 - 1) * 1.2vw + 0.8rem) !important;
  line-height: calc(1.4 * (1 + (1 - 2) / 25));
  margin: 0.5rem 0;
}

p {
  font-size: 16px;
  color: #3d3d3d;
  line-height: calc(1.4 * (1 + (1 - 2.5) / 25));
  margin: 0 0 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px !important;
}

.custom-phone-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  outline: none; /* Remove focus outline */
  box-shadow: none; /* Remove focus shadow */
}

.login-page .mui-7d7xpv{
  background: #2ac5ff;
  padding: 0px;
}
.login-img-cont{
background:#0d293c;   
  text-align:center;
  max-width:150px;
  padding:35px 20px 35px;
  border-radius:100px;
  margin: auto auto;
}
.over-n-cus .MuiDataGrid-footerContainer{
  display:none !important;
}

/* Pagination container */
.pagination-box {
  display: flex;
  justify-content: center; /* Center the pagination in the container */
  margin: 0px 0px; /* Add some margin around the pagination */
}

/* Pagination items */
.page-items {
  display: inline-block;
  margin: 0 0px; /* Space between pagination items */
}

/* Pagination links */
.page-link {
  display: inline-block;
  padding: 8px 16px; /* Padding around the pagination links */
  text-decoration: none; /* Remove underline from links */
  color: #007bff; /* Link color */
  border: 1px solid #ddd; /* Border around links */
  border-radius: 4px; /* Rounded corners */
  background-color: #fff; /* Background color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
}

/* Pagination links on hover */
.page-link:hover {
  background-color: #f1f1f1; /* Light background color on hover */
  color: #0056b3; /* Darker link color on hover */
}

/* Active page item */
.pageItemActive {
  font-weight: bold; /* Bold text for active page */
}

/* Active link */
.pageLinkActive {
  background-color: #007bff; /* Background color for active page link */
  color: #fff; /* Text color for active page link */
}

/* Next, Previous, First, and Last text */
.pagination-box .page-link {
  font-size: 14px; /* Font size for pagination text */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .pagination-box {
    font-size: 14px; /* Adjust font size on smaller screens */
  }
}
